{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Review Doctor{% endblock %}
{% block script %} 
{% load static %}
<script src="{% static 'js/jquery.star-rating-svg.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/star-rating-svg.css' %}">


{% endblock %}
{% block content %}

<div class="container">
    <div class="my-rating"></div>

<form method='POST'>
     {% csrf_token %}
     <input style="display: none;" type="number" id='rating' name='rating'>
     <br>
     <label>Review :</label>
     <input type="text" name='description'>
     <br>
     <input type="submit" value="save">
</form>

</div>
{% endblock %}

{% block endscript %}
<script type="text/javascript">
    $(".my-rating").starRating({
        initialRating: 3,
        useFullStars:true,
      strokeColor: '#894A00',
      strokeWidth: 10,
      starSize: 25,
      callback:function(currentRating,$el){
        document.getElementById('rating').value = currentRating;
      }

    
    });
    
    </script>
{% endblock %}