{% extends 'pages/base.html' %}
{% block title %}Profile{% endblock %}

{% block script %}
<style>
    * {
  box-sizing: border-box;
  -webkit-transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), color 0.3s ease;
  transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), color 0.3s ease;
}
.rela-block {
  display: block;
  position: relative;
  margin: auto;
}
.floated {
  display: inline-block;
  position: relative;
  margin: false;
  /* top: ;
  left: ;
  right: ;
  bottom: ; */
  /* float: left; */
}
.floated.right {
  float: right;
}
.abs-center {
  display: false;
  position: absolute;
  margin: false;
  top: 50%;
  left: 50%;
  right: false;
  bottom: false;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 88%;
}
.vert-center {
  display: false;
  position: absolute;
  margin: false;
  top: 50%;
  
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.horz-center {
  display: false;
  position: absolute;
  margin: false;
  top: false;
  left: 50%;
  right: false;
  bottom: false;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.overlay-card {
  height: 75vh;
  min-height: 400px;
  width: calc(92% - 40px);
  max-width: 1086px;
  padding-left: 30px;
  background-color: #f4f4f4;
  border-radius: 2px;
  overflow: hidden;
}

.profile-card {
  width: calc(100% - 40px);
  padding-top: 100px;
  margin: 70px auto 30px;
  background-color: #fff;
  box-shadow: 0 2px 6px -2px rgba(0,0,0,0.26);
}
.profile-pic {
  display: false;
  position: absolute;
  margin: false;
  top: -90px;
  left: 50%;
  right: false;
  bottom: false;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 180px;
  width: 180px;
  border: 10px solid #fff;
  border-radius: 100%;
  background: url("{{ doctor.imagefile.url }}") center no-repeat;
  background-size: cover;
}
.profile-name-container {
  margin: 0 auto 10px;
  padding: 10px;
  text-align: center;
}
.user-name {
  font-family: "Montserrat";
  font-size: 24px;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 12px;
}
.user-desc {
  letter-spacing: 1px;
  color: #999;
}
.profile-card-stats {
  height: 75px;
  padding: 10px 0px;
  text-align: center;
  overflow: hidden;
}
.profile-stat {
  height: 100%;
  width: 33.3333%;
}
.profile-stat:after {
  color: #999;
}


  .profile-card-stats {
    height: 0;
    padding: 0px;
  }
  .profile-pic {
    height: 140px;
    width: 140px;
    top: -70px;
  }
  .profile-card {
    padding-top: 70px;
    margin: 50px auto 30px;
  }


/* Popup message form */
#loginPopup {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      .form-popup {
      border: 2px solid #666;
      z-index: 9;
      max-width: 300px;
      margin: 0 auto;
      }
      .form-container {
      max-width: 300px;
      padding: 20px;
      background-color: #fff;
      }
      /* Full-width for input fields */
      .form-container input[type=text], .form-container textarea {
      width: 100%;
      padding: 10px;
      margin: 5px 0 22px 0;
      border: none;
      background: #eee;
      }
      /* When the inputs get focus, do something */
      .form-container input[type=text]:focus, .form-container textarea:focus {
      background-color: #ddd;
      outline: none;
      }
      /* Style submit/login button */
      .form-container .btn {
      background-color: #8ebf42;
      color: #fff;
      padding: 12px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
      }
      /* Style cancel button */
      .form-container .cancel {
      background-color: #cc0000;
      }
      /* Hover effects for buttons */
      .form-container .btn:hover, .open-button:hover {
      opacity: 1;
      }


</style>
{% endblock %}

{% block content %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link
    href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:300,400|Yellowtail"
    rel="stylesheet">

{% if user.user_type == 1 %}

<a href="{% url 'doctorreview' %}">Add a Review</a>


{% elif user.user_type == 2 %}

{% endif %}


{% if follow == 'True' %}

<a href="{% url 'unfollowdoctor' pk=doctor.id %}">Unfollow</a>

<button class="open-button" onclick="openForm()">
  <strong>Message</strong>
  </button>

{% elif follow == 'False' %}

<a href="{% url 'followdoctor' pk=doctor.id %}">Follow</a>

<button class="open-button" onclick="openForm()">
  <strong>Message</strong>
  </button>

{% endif %}




<div id="loginPopup">
  <div class="form-popup" id="popupForm">
    <form action="{% url 'sendmessage'  %}" class="form-container">
      {%  csrf_token %}
      <h2>Message</h2>
      <label for="email">
      <strong>Subject</strong>
      </label>
      <input type="text" id="email" placeholder="Subject" name="subject" required>
      <label for="psw">
      <strong>Content</strong>
      </label>
      <textarea id="psw" placeholder="Content" name="content" required></textarea>
      <input type="hidden" value="{{doctor.username}}" name="reciever">
      <button type="submit" class="btn">Send</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
    </form>
  </div>
</div>






<div class="rela-block profile-card">
    <div class="profile-pic" id="profile_pic">

    </div>
    <div class="rela-block profile-name-container">
        <div class="rela-block user-name" id="user_name">{{doctor.dname}}</div>
        <div class="rela-block user-desc" id="user_description">{{doctor.get_gender_display}}</div><br>
        <div class="rela-block user-desc" id="user_description">Reg Id:{{doctor.regid}}</div><br>
        <div class="rela-block user-desc" id="user_description">Date of Birth :{{doctor.dob}}</div><br>
        <div class="rela-block user-desc" id="user_description">Specialisation:{{doctor.spec}}</div><br>
        <div class="rela-block user-desc" id="user_description">Location :{{doctor.location.place}}</div><br>


    </div>

</div>

{% endblock %}

{% block endscript %}

<script>
function openForm() {
  document.getElementById("loginPopup").style.display="block";
}

function closeForm() {
  document.getElementById("loginPopup").style.display= "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  var modal = document.getElementById('loginPopup');
  if (event.target == modal) {
    closeForm();
  }
}
</script>

{% endblock %}