{% extends 'pages/base.html' %}
{% block title %}Medical Record{% endblock %}
{%block script %}
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style type="text/css">

    /* body{
        font-family: calibri;
        margin-top: 50px;
    } */
    .profile-main{
      width: 850px;
      margin: 0 auto;
      border: 1px solid #aed5e2;
      padding-bottom: 10px;
  }
  .profile-header{
      height: 200px;
      width: 100%;
      background-color: #EBF6FA;
      border-bottom: 2px solid #E2F3FB;
  }
  .user-detail{
      position: relative;
      width: 75%;
      margin: 0 auto;
      height: 100%;
  }
  .user-image{
      float: left;
      position: relative;
      width: 23%;
      height: 135px;
  }
  .user-image img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
      margin-top: 35px;
  }
  .tab-panel-main{
      width: 75%;
      margin: auto;
  }
  /*.tab-content.current{
      display: inherit;
      }*/
      .detail-box p{
          font-weight: 600;
      }



      dropdownMenuButton{
        color :black;
        background-color: white; 
    }
    .column {
      float: left;
      width: 50%;
  }

  /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }

  .column div{

    display: inline;
}
.column div li{
  margin-left: 90px;

}


/* Popup */


/* Popup message form */
#loginPopup,#reviewpopup {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      .form-popup {
      border: 2px solid #666;
      z-index: 9;
      max-width: 300px;
      margin: 0 auto;
      }
      .form-container {
      max-width: 300px;
      padding: 20px;
      background-color: #fff;
      }
      /* Full-width for input fields */
      .form-container input[type=text], .form-container textarea {
      width: 100%;
      padding: 10px;
      margin: 5px 0 22px 0;
      border: none;
      background: #eee;
      }
      /* When the inputs get focus, do something */
      .form-container input[type=text]:focus, .form-container textarea:focus {
      background-color: #ddd;
      outline: none;
      }
      /* Style submit/login button */
      .form-container .btn {
      background-color: #8ebf42;
      color: #fff;
      padding: 12px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
      }
      /* Style cancel button */
      .form-container .cancel {
      background-color: #cc0000;
      }
      /* Hover effects for buttons */
      .form-container .btn:hover, .open-button:hover {
      opacity: 1;
      }
      nav li {display:inline-block;}
     


</style>
{% endblock %}

{% block content %}



<!-- MedRechtml -->

<div class="profile-main">
    <div class="profile-header">
        <div class="user-detail">
            <div class="user-image">
                <img src="{{patient.imagefile.url}}">
            </div>

            <div class="user-data" style="float: right;">
                <br>
                <h3>Name : {{record.patient_id}}</h3>
                <p>
                    <h3>Gender : {{patient.get_gender_display}}</h3>
                    <h3>Blood Group : {{patient.get_bloodgroup_display}}</h3>
                </p>
            </div>
        </div>
    </div>
    <div class="tab-panel-main">
        <div id="Basic-detail" class="tab-content current">

            <div class="detail-box">
                <p align="right">{{record.doctor_id}}</p>
                <div align="right">{{record.visit_date}}</div>

                <br>
                <label>Medical Condition : </label>{{record.condition}}
                <br>
                <div class='row'>
                    <div class="col-sm-3 col-md-6">
                        <label>Diagnosis :</label>
                        {% for i in record.diagnosis %}
                        <li> {{i}}</li>
                        {% endfor %}
                    </div>
                    <div class="col-sm-3 col-md-6">
                        <label>Prescription :</label>
                        {% for i in record.prescription %}
                        <li> {{i}}</li>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <div class='row'>

                    <div class="col-sm-3 col-md-6">
                        <label>Procedures:</label>
                        {% for i in record.procedures %}
                        {% if user.user_type == 5 %}
                        <li> {{i}} &emsp; <button class="btn btn-success" onclick="openForm('{{i}}')">Add</button>  </li>
                        {% else %}
                        <li> {{i}}</li>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-sm-3 col-md-6">
                        <label>Description :</label>
                        <li> {{record.description}}</li>
                    </div>
                </div>
                <br>

                <div class="dropdown">


                    {% if user.user_type == 1 %}

                    <select id='perm' class="btn btn-secondary dropdown-toggle">
                        <option value="private"><span>&#9784;</span> Private</option>
                        <option value="public"><span>&#9881;</span> Public</option>
                        <option value="custom"><span>&#9854;</span> Custom</option>
                    </select>&nbsp;
                    <button id='savebtn' type="button" onclick="change()"
                        class="btn btn-success" disabled='true'>Save</button>
                    <br><br>

                    <input id='custom' type="text">
                    {% endif %}

                    <br>

                </div>


<hr>    
<h4>Laboratory Records</h4>
{% for r in labrec %}
<h5>{{r.procedure}} &emsp;<a class="btn btn-danger" href="{{r.upload_file.url}}">Open</a> </h5>
{% endfor %}

            </div>


        </div>

    </div>

    

<div id="loginPopup">
    <div class="form-popup" id="popupForm">
      <form action="{% url 'addlaboratoryrecord' %}" method="POST" class="form-container"  enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Laboratory Record</h2>
        <label for="email">
          <strong>Procedure</strong>
        </label>
        <input type="text" id="email"  name="procedure"
          required>
        <label for="psw">
          <strong>Description</strong>
        </label>
        <textarea id="psw" placeholder="Description" name="desc" required></textarea>
        <label for="psw">
            <strong>File</strong>
          </label>
          <input type="file" name='labfile'>
          <br>
        <input type="hidden" value="{{record.id}}" name="medrec">
        <button type="submit" class="btn">Submit</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
      </form>
    </div>
  </div>
  
  

    <!-- end -->



    {% endblock %}

    {% block endscript %}
    <script type="text/javascript">
        $('#custom').hide();
    var mid = "{{record.id}}"
    var perm = "{{record.permission}}";
    $('#perm').val(perm);
    if (document.getElementById('perm').value=='custom'){
        $('#custom').show();
        document.getElementById('custom').value="{{record.access}}";

    }
  
    $('#perm').on('change', function() {
        document.getElementById("savebtn").disabled = false;
    if (this.value=='custom'){
        $('#custom').show();
    }
    else{
        $('#custom').hide();

    }
});
    
    function change(){
        var sel = document.getElementById('perm').value;
        var custom =document.getElementById('custom').value;
        $.get('editpermission',{'id':mid,'type':sel,'custom':custom},function(data){
            window.location.reload();
        })
    }


//laboratory

function openForm(proc) {
    document.getElementById('email').value=proc;
  document.getElementById("loginPopup").style.display="block";
}

function closeForm() {
  document.getElementById("loginPopup").style.display= "none";
}

</script>
    {% endblock %}
