{% extends 'pages/base.html' %}
{% block title %}Messages{% endblock %}
{% block script %}


<style>
    
/* Popup message form */
#loginPopup {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      .form-popup {
      border: 2px solid #666;
      z-index: 9;
      max-width: 300px;
      margin: 0 auto;
      }
      .form-container {
      max-width: 300px;
      padding: 20px;
      background-color: #fff;
      }
      /* Full-width for input fields */
      .form-container input[type=text], .form-container textarea {
      width: 100%;
      padding: 10px;
      margin: 5px 0 22px 0;
      border: none;
      background: #eee;
      }
      /* When the inputs get focus, do something */
      .form-container input[type=text]:focus, .form-container textarea:focus {
      background-color: #ddd;
      outline: none;
      }
      /* Style submit/login button */
      .form-container .btn {
      background-color: #8ebf42;
      color: #fff;
      padding: 12px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
      }
      /* Style cancel button */
      .form-container .cancel {
      background-color: #cc0000;
      }
      /* Hover effects for buttons */
      .form-container .btn:hover, .open-button:hover {
      opacity: 1;
      }

      /* Message  */

        .nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
       
        .tab-pane .list-group .glyphicon { margin-right:5px; }
        .tab-pane .list-group .glyphicon:hover { color:#FFBC00; }
        hr { margin-top: 5px;margin-bottom: 10px; }
        
</style>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

{% endblock %}
{% block content %}

<h2 style="font-weight: bolder;text-align: center;">Messages</h2>
<br><br>
<div id="loginPopup">
    <div class="form-popup" id="popupForm">
        <form action="{% url 'sendmessage' %}" class="form-container">
            {% csrf_token %}
            <h2>Message</h2>
            <label for="email">
                <strong>Subject</strong>
            </label>
            <input type="text" id="email" placeholder="Subject" name="subject"
                required>
            <label for="psw">
                <strong>Content</strong>
            </label>
            <textarea id="psw" placeholder="Content" name="content" required></textarea>
            <input id='rec' type="hidden" name="reciever">
            <input type="hidden" name="type" value='reply'>

            <button type="submit" class="btn">Send</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
        </form>
    </div>
</div>



<div id='msgdiv'>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-inbox">
        </span>Recieved</a></li>
        <li><a href="#profile" data-toggle="tab"><span class="
            glyphicon glyphicon-share"></span>
            Send</a></li>

        </span></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="home">
            {% if message %}

            <div class="list-group">
                
                {% for msg in message %}

                <a href="#" class="list-group-item">
                

                    <span class="glyphicon glyphicon-envelope"></span><span class="name" style="min-width: 120px;
                        display: inline-block;">{{msg.author}}</span> <span class="">{{msg.subject}}</span>
                    <span class="text-muted" style="font-size: 11px;">-{{msg.content}}</span> <span
                        class="badge">{{msg.date}}</span>   <span class="pull-right"><span  onclick="openForm('{{msg.sender}}')" class="glyphicon glyphicon-share-alt"></span> </span>
                </a>
                          
                 {% endfor %}

                                 
                 </a>
            </div>
            {% else %}
            <h4>&emsp;No Messages Recieved.</h4> 

                {% endif %}
        </div>
        <div class="tab-pane fade in" id="profile">
            {% if send_message %}

            <div class="list-group">


                {% for msg in send_message %}

                <a href="#" class="list-group-item">
                

                    <span class="glyphicon glyphicon-envelope"></span><span class="name" style="min-width: 120px;
                        display: inline-block;">{{msg.author}}</span> <span class="">{{msg.subject}}</span>
                    <span class="text-muted" style="font-size: 11px;">-{{msg.content}}</span> <span
class="badge">{{msg.date}}</span>   <span class="pull-right"><span onclick="document.getElementById('smd').click()" class="glyphicon glyphicon-folder-close"></span></span>

                    <a id='smd' href="{% url 'deletemessage' pk=msg.id %}"></a>
                </a>
                          
                 {% endfor %}

                                 
                 </a>
            </div>
            {% else %}
              <h4>&emsp;No Messages Send.</h4> 
                {% endif %}
        </div>
     
    </div>

</div>



{% endblock %}

{% block endscript %}

<script>
function openForm(id) {
   
    document.getElementById("rec").value=id;

    $('#msgdiv').css("display", "none");


  document.getElementById("loginPopup").style.display="block";
}

function closeForm() {
  document.getElementById("loginPopup").style.display= "none";
  $('#msgdiv').css("display", "block");

}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  var modal = document.getElementById('loginPopup');
  if (event.target == modal) {
    closeForm();
  $('#msgdiv').css("display", "block");

  }
}
</script>
{% endblock %}